/** @format */

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.home-title {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.home-button-area {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button-line {
  width: 100%;
  display: flex;
  flex-direction: row;
}
